
<div class="container" style="max-width: 992px;">
        <%= form_with model:@product, :class=>"form-group", local: true do |form| %>
        <% if @product.errors.present? %>
        <%= @product.errors.full_messages.join(', ')%>
        <% end %>
            <%= label_tag :title %>
            <div class="input-group">
                <%= form.text_field :title, :class=>'form-control', :required=>true %>
             </div>
            <%= label_tag :description %>
            <div class="input-group">
                <%= form.text_area :description, cols:50 , rows:5,  :class=>'form-control', :required=>true %>
             </div>
            <%= label_tag :price %>
            <div class="input-group">
                <%= form.text_field :price, :class=>'form-control' %>
             </div>
             <%= form.label :tag_names  %>
             <div class="input-group">
            <%= form.text_field :tag_names %> 
             </div>
             <br>
             <%=form.submit class: 'btn btn-outline-primary' %> 
            <% end %>
            <br><br>
    </div>
<script>
    $(function(){
        $('#product_tag_names').selectize({
            delimeter:',',
            persist: false,
            labelField:'name', //Coulmn name in db
            valueField:'name',//Coulmn name in db
            searchField:'name',//Coulmn name in db
            options: <%= Tag.select(:name).to_json(except:[:id]).html_safe %>,
            create :function(input){
                return{
                    name:input
                }
            }
        })
    })
</script>